<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="container">
  <h3>Tabs</h3>
  <ul class="nav nav-tabs">
    <li class="active"><a href="/company-list">Home</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/subscription">Subscriptions</a></li>
    <li><a href="/addg">Add Gallery</a></li>
  </ul>
  <br>
  <!-- <p><strong>Note:</strong> This example shows how to create a basic navigation tab. It is not toggleable/dynamic yet (you can't click on the links to display different content)- see the last example in the Bootstrap Tabs and Pills Tutorial to find out how this can be done.</p> -->
</div>

<div class="container">
  <pre>You need to buy a subscription before adding images to the gallery</pre>
  <div class="form-group" style="align-content: center;">
    <button class="btn btn-primary " type="submit" (click)="onSubmit()"  >Susbcriptions</button>
  </div>
  
</div>


